@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --mainColor:#fff;
    --mainBg:#fff;
}
*{
    transition: all ease-in-out;
    user-select: none;
    margin: 0;
    padding: 0;
}
body{
    color: var(--mainColor);
    background-color: var(--mainBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Calibri;
}
.title{
    color: #333333;
    font-size: 5rem;
    font-family: Bebas Neue;
}
.rooms{
    width: 100vw;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
}
.room{
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 15px;
    height: 15vh;
    width: 10vw;
    color: #fff;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.toggler-knob::after{
    font-size: 2rem;
}
#temperature-container{
    background-color: #2c8a85;
    color: #fff;
}
#alarm-container{
    background-color: #2C5A45;
    color: #fff;
}
#room-cucina{
    background-color: #7B2C2C;
}
#room-camera{
    background-color: #2C445A;
}
#room-bagno{
    background-color: #564A2C;
}
#room-garage{
    background-color: #7F5A2C;
}
.room h2{
    font-size: 2rem;
    font-family: Calibri;
}
.switches{
    margin-top: 5%;
}
.utilities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%;
    height: 20vh;
    width: 100vw;
}
.utlity-container{
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding:3%;
    max-height: 15vh;
    margin: 1%;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.temperature{
    display: flex;
    flex-direction: row;
}
.temperature p{
    font-size: 1.5rem;
    margin-left: 2%;
}
.modal{
    display:none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-height:100vh;
    color:black;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2rem;
    flex-direction: column;
    transition: all ease-in-out 250ms;
    z-index: 5;
}
.room-box h2{
    font-family: Calibri;
    font-size: 4rem;
}
#close{
    position: absolute;
    top:10px;
    right: 25px;
    font-size: 4rem;
    color: #fff;
}
.panel{
    width: 20vw;
    height: 20vh;
    background-color: #fff;
    border-radius: 15px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
#close:hover{
    cursor:pointer;
}

.toggler-slider:after{
    font-size: 25%;
}
.input-basculante{
    display: flex;
    flex-direction: row;
}
#submit-button{
    margin-left: 10%;
    border-radius: 10px;
    padding: 3%;
    border-color: #fff;
    border: solid 2px;
    color: #fff;
    background-color: transparent;
    transition: all ease-in-out 100ms;
}
#submit-button:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}
#submit-button-alarm{
    margin-left: 10%;
    border-radius: 10px;
    padding: 3%;
    border-color: #000;
    border: solid 2px;
    color: #000;
    background-color: transparent;
    transition: all ease-in-out 100ms;
}
#submit-button-alarm:hover{
    background-color: #000;
    color: #fff;
    border-color: #000;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}
.row{
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.panel input{
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 2%;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}