@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --mainColor:#1a85c2;
    --mainBg:#FFC482;
}
*{
    transition: all ease-in-out;
    user-select: none;
    margin: 0;
    padding: 0;
}
body{
    color: var(--mainColor);
    background-color: var(--mainBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.title{
    font-size: 5rem;
    font-family: Bebas Neue;
}
.switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-family: Calibri;
    font-size: 1.5rem;
    border: solid black 2px;
    border-radius: 15px;
    margin-right: 3%;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.switches{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch:hover{
    cursor: pointer;
    background-color: #e6e6e6;
}
.temperature-container{
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 15px;
    padding:5%;
    margin-bottom: 2%;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.temperature{
    display: flex;
    flex-direction: row;
}
.temperature p{
    font-size: 1.5rem;
    margin-left: 2%;
}
.modal{
    display:none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-height:100vh;
    background-color: rgba(0,0,0,0.5);
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
    transition: all ease-in-out 250ms;
}
.room-box{
    background-color: #ffffff;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    transition: all ease-in-out 250ms;
}
.room-box h2{
    font-family: Calibri;
    font-size: 4rem;
}
#close{
    position:relative;
    bottom: 125px;
    left: 210px;
    font-size: 2rem;
    color : black;

}
#close:hover{
    color: #3c3c3c;
    cursor:pointer;
}

.toggler-slider:after{
    font-size: 25%;
}